<div class="dashboardWrap">

    <div class="navigate">
        <div class="navWrap">
            <div class="logo">
                <h1>Time.ly</h1>
            </div>

            <div class="profileTile">
                <h2 class="username">{{name}}</h2>
                <div class="profilePicture"></div>
            </div>

        </div>
    </div>

    <div class="dashboardMain">
        <div class="dashRow1">
            <form class="searchForm">
                <div class="section">
                    <div class="dropdown2">
                        <button id="activeCategory" class="dropbtn" value="movies">Media</button>
                        <div class="dropdown2-content">
                            <h3 class="dropdown2Category" value="movies">Movies</h3>
                            <h3 class="dropdown2Category" value="shows">Shows</h3>
                            <h3 class="dropdown2Category" value="games">Games</h3>
                            <h3 class="dropdown2Category" value="books">Books</h3>
                        </div>
                    </div>
                    <input type="text" id="searchQuery" placeholder="Search movies, shows, games, books">
                    <img src="/img/icons-05.png" class="icon">
                </div>
            </form>

        </div>

        <div class="dashRow2">
            <div class="statsRow">
                <div class="statBox" value="moviesDash">
                    <img src="img/icons-06.png" alt="" class="icon">
                    <h2 class="timeLarge" id="movieStats" data-min="{{movieMin}}"></h2>
                </div>
                <div class="statBox" value="showsDash">
                    <img src="img/icons-08.png" alt="" class="icon">
                    <h2 class="timeLarge" id="showStats" data-min="{{showMin}}"></h2>
                </div>
                <div class="statBox" value="gamesDash">
                    <img src="img/icons-07.png" alt="" class="icon">
                    <h2 class="timeLarge" id="gameStats" data-min="{{gameMin}}"></h2>
                </div>
                <div class="statBox" value="booksDash">
                    <img src="img/icons-09.png" alt="" class="icon">
                    <h2 class="timeLarge" id="bookStats" data-min="{{bookMin}}"></h2>
                </div>
            </div>
        </div>

        <div class="dashRow3">

            <div class="container">
                <div class="dashSection" id="currentMedia">
                    <div class="head">
                        <h1>Active Media</h1>
                    </div>
                    {{#each inProgress}}
                    <div class="currentMediaWrap">
                        <div class="currentMediaIcon" style="background: linear-gradient(to top right, rgba(255, 84, 94, .7), rgba(255, 255, 255,.3)), url('{{this.imgUrl}}'); background-size: cover; background-position: center; background-repeat: no-repeat; background-blend-mode: screen;"
                            data-type="{{ this.type }}" data-id="{{this.id}}"></div>

                        <div class="currentMediaText">
                            <h2 class="blueLarge">{{this.name}}</h2>
                            <h2 class="largeThumbTime" data-min="">{{this.minutes}}</h2>
                        </div>

                    </div>

                    {{/each}}
                </div>
                <div class="dashSection backlog" id="completed">
                    <div class="head">
                        <h1>Completed Media</h1>
                    </div>
                    <div class="thumbnailBox">
                        {{#each backlog}} {{#if this.complete}}
                        <div class="mediaThumbnail" style="background: linear-gradient(to top left, rgba(244, 158, 76, .7), rgba(255, 255, 255,.3)), url('{{this.imgUrl}}'); background-size: cover; background-position: center; background-repeat: no-repeat; background-blend-mode: screen;"
                            data-type="{{ this.type }}" data-id="{{this.id}}">
                            <div class="mediaThumbnailText">
                                <h4 class="mediaThumbnailSubtitle">{{this.minutes}}</h4>
                                <h3 class="mediaThumbnailTitle">{{this.name}}</h3>

                            </div>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="dashSection backlog" id="backlog">
                    <div class="head">
                        <h1>Your Back Log</h1>
                    </div>
                    <div class="thumbnailBox">
                        {{#each backlog}} {{#unless this.complete}}
                        <div class="mediaThumbnail" style="background: linear-gradient(to top left, rgba(244, 158, 76, .7), rgba(255, 255, 255,.3)), url('{{this.imgUrl}}'); background-size: cover; background-position: center; background-repeat: no-repeat; background-blend-mode: screen;"
                            data-type="{{ this.type }}" data-id="{{this.id}}">
                            <div class="changeToCurrent">
                                <h3 class="currentToggle" value="false">Make Current Media</h3>
                            </div>
                            <div class="mediaThumbnailText">
                                <h4 class="mediaThumbnailSubtitle">{{this.minutes}}</h4>
                                <h3 class="mediaThumbnailTitle">{{this.name}}</h3>

                            </div>
                        </div>
                        {{/unless}} {{/each}}
                    </div>
                </div>

                <div class="dashSection">
                    <canvas id="myChart" width="340" height="340"></canvas>
                    <div class="totalLogged">
                        <h2>Total time in queue:
                            <span id="totalTimeLogged" class="boldBlue" data-min='{{totalMin}}'></span>
                        </h2>

                    </div>
                    <div class="totalLoggedComplete">
                        <h2>Total time Complete:
                            <span id="totalTimeLoggedComplete" class="boldBlue" data-min='{{totalMinComplete}}'></span>
                        </h2>

                    </div>
                </div>
            </div>


        </div>


    </div>

    <div class="footer">
    </div>

</div>

<div class="empty" data-something=""></div>

<script type="text/javascript">

    // Set backlog media as "in progress"
    $(".mediaThumbnail").on("click", function (event) {
        event.preventDefault();

        var mediaType = $(this).attr("data-type");
        var mediaId = $(this).attr("data-id");

        $.ajax("/api/" + mediaType + "/" + mediaId + "/progress", {
            type: "PUT"
        }).then(function (result) {
            console.log("Media in progress");
            location.reload();
        })

    })

    // Set "in progress" media as "complete"
    $(".currentMediaIcon").on("click", function (event) {
        event.preventDefault();

        var mediaType = $(this).attr("data-type");
        var mediaId = $(this).attr("data-id");

        $.ajax("/api/" + mediaType + "/" + mediaId + "/complete", {
            type: "PUT"
        }).then(function (result) {
            console.log("Media Complete");
            location.reload();
        })

    })

    $(".statBox").on("click", function () {
        var dashCategory = $(this).attr("value")
        // renderPage
    })

    $(".mediaThumbnail").on("click", function () {
    })

    function convertTime(minutes) {
        var days;
        var hours;
        var minutes;
        var timeString;
        if (minutes >= 1440) {
            days = Math.floor(minutes / 1440);
            hours = Math.floor((minutes / 60) % 24);
            minutes = minutes % 60;
            timeString = days + "d " + hours + "h " + minutes + "m"
            return timeString
        } else {
            hours = Math.floor(minutes / 60);
            minutes = minutes % 60;
            timeString = hours + "h " + minutes + "m"
            return timeString
        }
    }

    var movieStats = $("#movieStats").attr("data-min")
    movieStats = parseInt(movieStats)
    var gameStats = $("#gameStats").attr("data-min")
    gameStats = parseInt(gameStats)
    var showStats = $("#showStats").attr("data-min")
    showStats = parseInt(showStats)
    var bookStats = $("#bookStats").attr("data-min")
    bookStats = parseInt(bookStats)

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ["Movies", "Shows", "Games", "Books"],
            datasets: [{
                label: 'time',
                data: [movieStats, showStats, gameStats, bookStats],
                backgroundColor: [
                    'rgba(255, 89, 94, 0.9)',
                    'rgba(22, 84, 158, 0.9)',
                    'rgba(142, 208, 129, 0.9)',
                    'rgba(254, 238, 158, 0.9)'
                ],
                borderColor: [
                    'rgba(255, 89, 94, 1)',
                    'rgba(22, 84, 158, 1)',
                    'rgba(142, 208, 129, 1)',
                    'rgba(254, 238, 158, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {}
    });

    function renderNumbers(movieStats, gameStats, showStats, bookStats) {
        movie = convertTime(movieStats);
        game = convertTime(gameStats);
        show = convertTime(showStats);
        book = convertTime(bookStats);

        $("#movieStats").html(movie);
        $("#gameStats").html(game);
        $("#showStats").html(show);
        $("#bookStats").html(book);
    }

    renderNumbers(parseInt(movieStats), parseInt(gameStats), parseInt(showStats), parseInt(bookStats))

    // function renderTotalTime(time) {
    //    var totalTime = convertTime(time);
    //    $("#totalTimeLogged").html(totalTime);
    // }

    // renderTotalTime($("#totalTimeLogged").attr("data-min"))

    function render() {
        renderNumbers()
        renderTotalTime()
    }

    function renderTotalTime(element) {
        var timeData = element.attr("data-min")
        var totalTime = convertTime(timeData)

        element.html(totalTime)
    }

    renderTotalTime($("#totalTimeLogged"))
    renderTotalTime($("#totalTimeLoggedComplete"))

    var currentCategory;
    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    function assignValue(categoryVal, callback) {
        $("#activeCategory").attr("value", "")
        $("#activeCategory").attr("value", categoryVal)
        callback(categoryVal)
    }

    function renderCategory(categoryVal) {
        var name = capitalizeFirstLetter(categoryVal)
        $("#activeCategory").text(name)
    }

    $(".dropdown2Category").on("click",
        function () {
            currentCategory = $(this).attr("value")
            console.log(currentCategory)
            assignValue(currentCategory, renderCategory)
        }
    )

    $(".searchForm").on("submit", function (event) {
        event.preventDefault();

        var searchType = $("#activeCategory").val();
        var query = $("#searchQuery").val();

        if (query) {
            location.assign("/search/" + searchType + "/" + query);
        }

    })

</script>