<div class="headerType">
    <h1>Time.ly</h1>
</div>

<div class="searchResultsWrap">
    <div class="searchBarWrap">
        <div class="searchBar">
            <form class="searchForm">
                <div class="section">
                    <div class="dropdown">
                        <button id="activeCategory" class="dropbtn" value="movies">Media</button>
                        <div class="dropdown-content">
                            <h3 class="dropdownCategory" value="movies">Movies</h3>
                            <h3 class="dropdownCategory" value="shows">Shows</h3>
                            <h3 class="dropdownCategory" value="games">Games</h3>
                            <h3 class="dropdownCategory" value="books">Books</h3>
                        </div>
                    </div>
                    <input type="text" id="searchQuery" placeholder="Search movies, shows, games, books">
                    <img src="/img/icons-05.png" class="icon">
                </div>
            </form>
        </div>

    </div>
    <div class="searchResultsBox">
        <div class="srbCol1">
            <div class="title"></div>
            <div class="srb-largeThumb" style="background:linear-gradient(to top right, rgba(255, 84, 94, .7),rgba(255, 255, 255,.3)), url({{items.[0].imgUrl}}); background-blend-mode: screen; background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="addToDB" data-name="{{items.[0].name}}" data-len-attr-1="{{items.[0].lengthAttr1}}" data-len-attr-2="{{items.[0].lengthAttr2}}"
                    data-id="{{items.[0].apiId}}" data-time="{{items.[0].time}}" data-imgUrl="{{items.[0].imgUrl}}" data-type="{{items.[0].type}}">
                </div>
                <div class="text" id="bigResult" data-name="{{items.[0].name}}" data-len-attr-1="{{items.[0].lengthAttr1}}" data-len-attr-2="{{items.[0].lengthAttr2}}"
                    data-id="{{items.[0].apiId}}" data-time="{{items.[0].time}}" data-imgUrl="{{items.[0].imgUrl}}" data-type="{{items.[0].type}}">
                    <h1>{{items.[0].name}}</h1>
                    <h2 class="largeMinutes">{{items.[0].time}} min</h2>
                    <div class="largeThumbSubtext">
                        <h2 id="addLargetoDB">Add to Database</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="srbCol2">

            <div class="searchResultsReturn">

                {{#each items}} {{#unless @first}}
                <div class="searchResultThumb" style="background:linear-gradient(to top left, rgba(142, 208, 129,1),rgba(255, 255, 255,.3)), url({{imgUrl}}); background-blend-mode: screen; background-size: cover; background-repeat: no-repeat; background-position: center; ">
                    <div class="addToDB" data-name="{{name}}" data-len-attr-1="{{lengthAttr1}}" data-len-attr-2="{{lengthAttr2}}" data-id="{{apiId}}"
                        data-time="{{time}}" data-imgUrl="{{imgUrl}}" data-type="{{type}}">
                        <h2>Add </h2>
                        <h1>{{name}}</h1>
                        <h2>{{time}} min</h2>
                    </div>
                </div>
                {{/unless}} {{/each}}

            </div>
        </div>
    </div>
</div>

<script>
    var currentCategory;
    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
    function assignValue(categoryVal, callback) {
        $("#activeCategory").attr("value", "")
        $("#activeCategory").attr("value", categoryVal)
        callback(categoryVal)
    }
    function render(categoryVal) {
        var name = capitalizeFirstLetter(categoryVal)
        $("#activeCategory").text(name)
    }
    $(".dropdownCategory").on("click",
        function () {
            currentCategory = $(this).attr("value")

            assignValue(currentCategory, render)
        }
    )


    $(".searchForm").on("submit", function (event) {
        event.preventDefault();

        var searchType = $("#activeCategory").val();
        var query = $("#searchQuery").val();

        location.assign("/search/" + searchType + "/" + query);
    })

    function databasePush(element) {

        var mediaType = $(element).attr("data-type");

        var sqlEntry = {}

        if (mediaType === "books") {

            sqlEntry.name = $(element).attr("data-name")
            sqlEntry.pages = $(element).attr("data-len-attr-1")
            sqlEntry.imgUrl = $(element).attr("data-imgUrl")
            sqlEntry.gBooksID = $(element).attr("data-id")
            sqlEntry.minutes = $(element).attr("data-time")

        } else if (mediaType === "games") {

            var completionistTime = $(element).attr("data-len-attr-2") * 60;

            sqlEntry.name = $(element).attr("data-name");
            sqlEntry.mainLength = $(element).attr("data-len-attr-1");
            sqlEntry.completionistLength = $(element).attr("data-len-attr-2");
            sqlEntry.imgUrl = $(element).attr("data-imgUrl");
            sqlEntry.hltbID = $(element).attr("data-id");
            sqlEntry.mainMinutes = $(element).attr("data-time");
            sqlEntry.completeMinutes = completionistTime;

        } else if (mediaType === "movies") {

            sqlEntry.name = $(element).attr("data-name")
            sqlEntry.runtime = $(element).attr("data-time")
            sqlEntry.imgUrl = $(element).attr("data-imgUrl")
            sqlEntry.imdbId = $(element).attr("data-id")

        } else if (mediaType === "shows") {

            sqlEntry.name = $(element).attr("data-name")
            sqlEntry.episodes = $(element).attr("data-len-attr-1")
            sqlEntry.runtime = $(element).attr("data-len-attr-2")
            sqlEntry.imgUrl = $(element).attr("data-imgUrl")
            sqlEntry.tvMazeID = $(element).attr("data-id")
            sqlEntry.minutes = $(element).attr("data-time")

        }



        $.ajax("/api/" + mediaType + "/add", {
            type: "POST",
            data: sqlEntry
        }).then(function (result) {
            console.log("added game");
        })

    }

    function exitAnimation(element) {
        var addName = $(element).attr("data-name");
        $(element).html(addName + " has been successfully added to your back log")
        $(".searchResultsWrap").css("animation", ".5s fadeOut forwards")
        setTimeout(function () {
            window.location.href = "/dashboard"
        }, 1000)
    }

    // Pushing to Database //
    $(".addToDB").on("click", function (event) {
        event.preventDefault();

        databasePush(this);
        exitAnimation(this);
    });

    $("#bigResult").on("click", function (event) {
        event.preventDefault();

        databasePush(this);
        exitAnimation(this);
    })
// test //
</script>
